body
{
  background-color: hsl(0, 0%, 0%);
  color: hsl(120, 60%, 30%);
  margin: 0px;
}

header
{
  color: hsla(60, 70%, 50%);
}

::-webkit-scrollbar
{
  display: none;
}

nav
{
  text-align: center;
}

.topNav
{
  display: flex;
  background-color: hsla(270, 60%, 50%);
  width: 100%;
}

.topNav ul
{
  display: inline-block;
  white-space: nowrap;
  list-style-type: none;
  overflow-x: scroll;
  width: 100%;
  align-self: center;
  padding: 0px;
  margin: auto;
}

.topNav ul li
{
  display: inline-block;
  width: 5rem;
}

nav ul li a
{
  display: block;
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

.navLeft
{
  background-color: hsla(0, 0%, 0%, 40%);
  float: left;
}

.navRight
{
  background-color: hsla(0, 0%, 0%, 40%);
  float: right;
}

.leftNav
{
  float: left;
  background-color: hsla(180, 60%, 50%);
  width: 15%;
}

.leftNav ul
{
  height: 90svh;        
  overflow-y: scroll;
  padding: 0px;
  margin: 0px;
}

iframe
{
  border: 0px;
  padding: 0px;
}

.midContent
{
  width: 100%;
  height: 60svh;
}

.rightContent
{
  width: 85%;
  height: 90svh;
}

footer
{
  font-size: 60%;
  height: 10svh;
  overflow-y: scroll;
}
