<link rel='stylesheet' href='../../css/defaults.css' />

<h5>TLDR: We can move on, but we cannot take wrongs for norms. We have to be able to call out problems even when we have moved on. Until they are corrected.</h5>
<a href='WhatCanWeDo.html'><i>But what can we do?</i></a>

<h3>Do not take wrongs as norms</h3>
<p>I don't want to mince the words too much such as what the definitions of right and wrong are. I call something wrong when it cause more harm then good.</p>

<p>We are taking many wrongs for norms because we can do nothing with them. From exploitation in workplaces to atrocities of ruling powers. The same have repeated for thousand of years if history is right. Why's that?</p>

<p>Democracy might be the most public friendly system that has been successfully executed, but even that is failing. I would say that the problem rooted in everyone. As long as the code of moral is not a true believe on the society level, election won't be very useful. What kind of persons can we hope to elect from ourselves, a group of smartasses who praise trickery over honesty, or any other virtues for that matter.</p>

<p>A society where we can truly trust one another is not something that would happen in the foreseeable future. However far away it is, we have to begin making changes for that to happen, nothing will be acommplished without a beginning. But that would be another topic, let's focus on something more immediate, how to rebalance the current.</p>

<p>I am by no mean someone who can solve the problem. But just as we have said, no beginning, no accomplishment, no start, no end, we must not dodge the problem. The first thing in solving a problem is to acknowledge its existence. We cannot just say it's life and let it be, however "mature" it makes you feel you are for saying that.</p>

<p>Calling things as they are, right is right and wrong is wrong, is important in more than one way:
<ol><li>
Reinforcing the recognition. We are susceptible to public opinions. The history of acting mature and not talking about problems has taken its toll. Wrongs are justified as norms as no one speaks up against them.
</li><li>
With the reinforced recognition, encourage people to solve them. We need motivation for pretty much everything. We go to work, for money. We try different food, for the sensation. We do good, for self respect. Whatever the immediate rewards are, it boils down to making us feel good in some way. We don't know who will come up with the solution. We can only get more people interested in solving the problems. Be it wealth or honour they want, people need to feel that the expectation is real, that the public long for the solution. The more people get motivated, the more likely we'd discover the solution sooner.
</li><li>
Remind ourselves. We are forgetful creatures. The everyday life often has more than enough to distract us from the further goals. We might really move on and leave the problems behind, and allow them to come back to us, or the next persons. We need them pinned on the to-do list. We should remind ourselves that there are problems to be solved, and strenghten our will everytime we recall that we are still on it.
</li></ol></p>

</p>Let's take my ideas here as an example. What if they are nonoptimal, flawed, or straightly wrong?</p>

</p>Then let others correct them, put their versions up for debate or dig up other theories that have long been suggested and review. We can then take the most appropriate as bases and work from there.</p>

</p>Unless I have mistaken, such is the way of academic debates, scientific studies, and mankind advancement.</p>
