<link rel='stylesheet' href='../../css/defaults.css' />

<p>Before I left Hong Kong, I heard someone pro-Beijing literally said,</p>
<h3>"It had been shown since 2019, nothing is forbidden."</h3>

<p>Now that I think about it, it is one of statements I have underestimated the most. It might have an implication for a scope that's well beyond just our city. Many "conspriacy theories" around the globe might turn out to be true, including the ones about the pandemic.</p>

<p>They are confident that they have well estabished networks to force things into the way they want. And it is horribly true judging from what I am experiencing. I fear that the reach of these networks might be global, and I don't know where will be safe.</p>

<p>If the place you live is still rather calm, you may not know what I am talking about. You may even think that I am exaggerating.</p>

<p>I do not know if all of them are part of a single entity, or they are just a collection of individual parties with vested interests, which is detrimental to the interest of the common public. Whichever way it is, their numbers and more importantly, their influence is probably much larger than some regonized scale, for example, the 0.1 billion membership of the Chinese Communist Party.</p>

<p>If it sounds too abstract and doesn't strike fear into your heart, think about your government, employers, local food shops, electronic device manufacturers and internet service providers.</p>

<p>The far reach alone is not scary, the scary part is that they have no problem deciding they can do whatever they want to you, for whatever reason they were told, without getting to know you. Or worse, some would backstab you even though they knew you long ago.</p>