1<link rel='stylesheet' href='../../css/defaults.css' />
<nav class='leftNav'>
  <ul>
    <li><a href='home.html' target='content_2'>Views</a></li>
    <li><a href='DoNotTakeWrongsAsNorms.html' target='content_2'>Norms</a></li>
    <li><a href='WhatCanWeDo.html' target='content_2'>To Do</a></li>
    <li><a href='Scale.html' target='content_2'>Scale</a></li>
    <li><a href='WhodoesNotHatePolitics.html' target='content_2'>Politics</a></li>
  </ul>
</nav>
<iframe name='content_2' class='rightContent' src='home.html'></iframe>
